.article-card {
  border-radius: 5px;
  background: #f0f0f0;
}

.article-header {
  display: flex;
}

.articles-list {
  margin-top: 5vh;
}

.site-header {
  border-bottom: 2pt solid red;
  padding-bottom: 2vh;
  width: 80vw;
  margin: auto;
}

.link {
  text-decoration: none;
  color: #0f0f0f;
}

.topics-bar {
  display: flex;
  justify-content: space-around;
  width: 80vw;
  margin: auto;
  border: 2pt solid red;
  border-top: none;
  box-sizing: border-box;
}

.login-box {
  position: absolute;
  background: #f0f0f0;
  border: 2pt solid black;
  height: 60vh;
  width: 60vw;
  left: 20vw;
  top: 20vh;
}

.vote-buttons {
  display: flex;
  flex-direction: column;
}

.article-link {
  display: flex;
  margin: auto;
  width: 80vw;
}

.comment-card {
  border-radius: 5px;
  background: #f0f0f0;
  margin: 1vh 0;
}
