/* utility classes */

.link {
  text-decoration: none;
  color: #0f0f0f;
  /* width: 100%;
  height: 100%; */
}

.no-margin {
  margin: 0;
}

.flex {
  display: flex;
}

/* HEADER FOR SITE */

.site-header {
  border-bottom: 2pt solid red;
  padding-bottom: 2vh;
  width: 90vw;
  margin: 1vh auto;
  display: flex;
  flex-direction: column;
  font-size: 0.8em;
}

.title-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  flex-basis: 150%;
}

.current-user {
  max-width: 25%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar-img {
  width: 8vh;
  height: 8vh;
  border-radius: 50%;
  object-fit: cover;
}

.user-message {
  margin: 0;
}

nav {
  display: flex;
  height: 5vh;
  width: 100%;
  justify-content: space-around;
}

.nav-button {
  align-self: center;
  font-size: 0.6em;
  color: black;
}

.topics-bar {
  display: flex;
  justify-content: space-around;
  width: 80vw;
  margin: auto;
  border: 2pt solid red;
  border-top: none;
  box-sizing: border-box;
  justify-content: space-between;
}

.topic-button {
  padding: 0;
}

/* ARTICLES PAGE */

.options-buttons {
  display: flex;
  justify-content: space-between;
}

.sort-buttons {
  display: flex;
  justify-content: space-between;
}

/*whole div*/
.articles-list {
  margin: 5vh auto;
  width: 80vw;
}

/* article previews */
.article-card {
  border-radius: 5px;
  background: #f0f0f0;
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.article-votes {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.article-sub-preview {
  display: flex;
}

.article-preview-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  height: 40%;
}

.article-header-subtitle {
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-size: 0.6em;
}

.article-author {
  font-weight: normal;
  font-style: italic;
}

.article-author:hover {
  color: grey;
}

.article-title {
  font-size: 1em;
  margin: 0;
  text-align: center;
}

.article-title:hover {
  color: grey;
}

.article-header {
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: center;
}

.article-preview {
  width: 80vw;
  margin: 2vh auto;
  background: #efefef;
  border-radius: 5px;
  box-shadow: 2px 2px 6px grey;
}

.preview-body {
  font-size: 0.7em;
  margin: 0 2vw;
}

.page-buttons {
  display: flex;
  justify-content: space-between;
}

/* single article page */

.single-article {
  width: 80vw;
  margin: auto;
}

.single-article-header {
  text-align: center;
  font-size: 0.8em;
}

.single-article-subtitle {
  display: flex;
  justify-content: space-evenly;
  font-size: 0.7em;
}

.single-article-votes {
  display: flex;
  width: 15vw;
  justify-content: space-between;
}
.article-link {
  display: flex;
  margin: auto;
  width: 80vw;
}

/* COMMENTS SECTION */

.comments-section {
  width: 80vw;
  margin: auto;
}

.comment-card {
  border-radius: 5px;
  background: #f0f0f0;
  margin: 1vh 0;
  width: 80vw;
  display: flex;
}

.comment-votes {
  flex-direction: column;
  text-align: center;
  font-size: 0.8em;
  justify-content: flex-start;
}

.comment-header {
  font-size: 1.1em;
}

.comment-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 0.7em;
  margin: 1vh 3vw;
}

/* POPUP BOXES */

.popup {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f0f0f0;
  box-shadow: 2px 2px 6px grey;
  box-sizing: border-box;
  padding: 1vh 1vw;
}

.login-box {
  align-content: center;
  justify-content: space-around;
  height: 30vh;
  width: 80vw;
  left: 10vw;
  top: 20vh;
}

.signup-popup {
  width: 80vw;
  height: 40vh;
  justify-content: space-around;
  top: 20vh;
  font-size: 0.8em;
}

.warning-popup {
  width: 60vw;
  height: 30vh;
  justify-content: center;
}

.warning-text {
  font-size: 1em;
  text-align: center;
}

.post-article {
  height: 60vh;
  width: 80vw;
  left: 10vw;
  top: 20vh;
  justify-content: space-around;
}

.article-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.comment-box {
  height: 30vh;
  width: 80vw;
  bottom: 30vh;
  justify-content: center;
}

.profile-popup {
  height: 40vh;
  width: 80vw;
  justify-content: space-around;
}

.profile-label {
  flex-direction: column;
  font-size: 0.9em;
}

/*USER PAGE */

/*whole div*/
.user-page-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.user-heading {
  text-align: center;
  font-size: 1.2em;
}
.profile-pic {
  max-width: 80vw;
  max-height: 40vh;
}
/* FORM ELEMENTS */
.checkbox {
  display: flex;
}

textarea {
  width: 100%;
  height: 100%;
}

.vote-buttons {
  display: flex;
  flex-direction: column;
  background: whitesmoke;
  height: 100%;
  justify-content: space-between;
}

.bad-button {
  color: red;
  height: 100%;
}

.good-button {
  color: forestgreen;
  height: 100%;
}
